<!DOCTYPE HTML>
<html lang="fr" ng-app="ngApp">
<head>
    <title>rpi-intercom</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="angular.1.7.4.min.js"></script>
    <script src="application.js"></script>
</head>
<body ng-controller="intercomController as ctrl">
    <img ng-src="{{ctrl.videoSrc}}" width="640" height="480"><br>
    <button ng-click="ctrl.stopring()">Stop ringing</button>
    <button ng-click="ctrl.listen()">Listen</button>
    <button ng-click="ctrl.speak()">Speak</button>
    <button ng-click="ctrl.dooropen()">Open door</button>
    <button ng-click="ctrl.hangup()">Hangup</button><br>
</body>
</html>
