<!DOCTYPE HTML>
<html lang="fr">
<head>
    <title>rpi-intercom</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="style.css"/>
    <script src="vue.global.prod.js"></script>
</head>
<body>
    <div id="app" v-no-drag-drop>
        <img @click="reloadVideo()" class="video" :src="videoSrc"><br>
        <span :style="{ color: message.color }">{{ message.text }}</span><br>
        <div class="big-buttons">
            <button @click="stopring(true)"><span class="glyphicon">&#xe123; </span>Stop ringing</button>
            <button @click="listen(true)" :disabled="listening"><span class="glyphicon">&#xe035; </span>Listen</button>
            <button @click="speak(true)" :disabled="recording"><span class="glyphicon">&#xe038; </span>Speak</button>
            <button @click="dooropen(true)"><span class="glyphicon">&#xe013; </span>Open door</button>
            <button @click="hangup(true)" :disabled="!listening && !recording"><span class="glyphicon">&#xe036; </span>Hangup</button>
        </div>
        <br><br>
        <span :style="{ color: bPasswordOk ? 'green' : 'red' }">Password: </span> <input type="password" v-model="password">
        <button v-if="!bPasswordOk" @click="sendPassword(true)"><span class="glyphicon">&#xe113; </span>Send password</button>
        <button v-if="bPasswordOk && !bPasswordSaved" @click="savePassword(true)"><span class="glyphicon">&#xe172; </span>Save password</button>
        <button v-if="bPasswordOk" @click="disconnect(true)"><span class="glyphicon">&#xe014; </span>Disconnect</button>
        <br><br>
        <span v-if="!mbModeClient" style="color: white">Audio input: </span>
        <select v-model="deviceId" @change="saveDeviceId()">
            <option v-for="device in devices" :key="device.deviceId" :value="device.deviceId">{{ device.kind + ' ' + device.label }}</option>
        </select><br>
    </div>
    <script src="application.js"></script>
</body>
</html>
