body {
    background-color: black;
    width: 96wh;
    height: 96vh;
}
.buttons {
    display: flex;
    height: 16%;
    justify-content: space-around;
    align-items: stretch;
}
button {
    font-size: 1.5vw;
    flex-basis: 19%;
    flex-shrink: 1;
    white-space: nowrap;
}
.video {
    width: 96%;
    max-height: 72%;
    height: auto;
    display: block;
    margin: auto;
}
@font-face {
    font-family: "glyphicon";
    src: url('glyphicons-halflings-regular.woff');
}
/* https://glyphicons.bootstrapcheatsheets.com/# */
.glyphicon {
    display: block;
    font-size: 3vw;
    font-family: "glyphicon";
}